@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SuperColmadoDennys</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <AuthorizeView>
            <Authorized>
               
                    <!-- Enlace a Home -->
                    <NavLink class="nav-item px-3" href="/">
                        <i class="bi bi-house-door me-1"></i> Home
                    </NavLink>

                    <!-- Enlace a Menú -->
                    <NavLink class="nav-item px-3" href="/Productos/Orden">
                        <i class="bi bi-list-ul me-1"></i> Productos
                    </NavLink>

                    <!-- Opciones de administrador -->
                    <AuthorizeView Roles="Admin">
                        <Authorized Context="Admin">
                            <!-- Inventario -->
                            <NavLink class="nav-item px-3" href="/Producto/Index">
                                <i class="bi bi-box-seam me-1"></i> Inventario
                            </NavLink>
                            <NavLink class="nav-item px-3" href="/Compra/Index">
                                <i class="bi bi-box-seam me-1"></i> Compras
                            </NavLink>


                        </Authorized>
                    </AuthorizeView>

                    <!-- Ordenes -->
                    <NavLink class="nav-item px-3" href="/Pedido/Index">
                        <i class="bi bi-receipt me-1"></i> Pedidos
                    </NavLink>

                    <!-- Botón para salir -->
                    <form action="Account/Logout" method="post" class="d-inline">
                        <div class="nav-item px-3">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" />
                            <button type="submit" class="btn btn-outline-danger">
                                <i class="bi bi-box-arrow-right me-1"></i> Salir
                            </button>
                        </div>
                    </form>
                
            </Authorized>

            <!-- Opciones para usuarios no autenticados -->
            <NotAuthorized>
               
                    <!-- Enlace a Home -->
                    <NavLink class="nav-item px-3" href="/">
                        <i class="bi bi-house-door me-1"></i> Home
                    </NavLink>

                    <!-- Enlace a Login -->
                    <NavLink class="nav-item px-3" href="Account/Login">
                        <i class="bi bi-box-arrow-in-right me-1"></i> Login
                    </NavLink>

                    <!-- Enlace a Registro -->
                    <NavLink class="nav-item px-3" href="Account/Register">
                        <i class="bi bi-pencil-square me-1"></i> Register
                    </NavLink>
                    
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

