@page "/"

@inject ProductoService productoService

<PageTitle>Super</PageTitle>

<div class="container my-5">
    <header class="text-center mb-5">
        <h1 class="display-4 text-primary"><strong>Bienvenidos </strong></h1>
    </header>

    <div class="row">
        @if (productos != null && productos.Any())
        {

            var productosLimitados = productos;

            foreach (var producto in productosLimitados)
            {
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm h-100 border-0">
                        <img src="@producto.ImagenUrl" class="card-img-top rounded-top" alt="@producto.Nombre" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title text-center text-primary"><strong>@producto.Nombre</strong></h5>
                            <p class="card-text text-muted text-center">@producto.Descripcion</p>
                            <div class="text-center">
                                <a href="/Productos/Orden" class="btn btn-primary btn-block">Ordenar Ahora</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-12 text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Cargando productos...</span>
                </div>
            </div>
        }
    </div>
</div>



@code {
    private List<Productos> productos = new List<Productos>();

    protected override async Task OnInitializedAsync()
    {
        productos = await productoService.ListarProducto();
    }
}
